* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 0;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  background-color: #ffffff;
  max-width: 1680px;
}

dl {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

dt {
  margin-left: 0.8em;
}

dd {
  display: block;
  margin-left: 1em;
}

header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  clear: both;
  background-color: #ffffff;
}

#header nav a {
  font-size: 1rem;
  text-decoration: none;
  padding-left: 20px;
}

#header nav ul {
  padding: 0 20px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav ul li {
  display: inline;
  margin-right: 25px;
  list-style: none;
}

nav a #logo {
  font-weight: 700;
  position: absolute;
  width: 249px;
  height: 46px;
  left: 63.2px;
  top: 39px;
}

.house-property {
  position: absolute;
  width: 537px;
  height: 234px;
  left: 66px;
  top: 172px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}

.desc-property {
  color: white;
  margin: 20px;
  position: absolute;
  left: 50px;
  top: 420px;
}

.tentang-kami figure img {
  position: relative;
  left: 35%;
  top: 30px;
}

.tentang-kami figure figcaption h2 {
  position: relative;
  width: 262px;
  height: 200px;

  /* text-align: center; */
  left: 45%;
  top: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.tentang-kami figure figcaption p {
  position: relative;
  width: 100%;
  left: 2em;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;

  letter-spacing: 0.01em;
  color: #000000;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.tentang-kami figure figcaption {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  left: 20px;
}

#fasilitas {
  background-color: #f0f0f0;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#fasilitas section {
  margin: 20px;
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rumah1,
.rumah2,
.rumah3 {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 0 10px;

  /* new rules */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rumah1 {
  background-image: url(../images/cluster-new_201119141110-133.jpg);
}

.rumah2 {
  background-image: url(../images/53-desain-rumah-minimalis-modern-2.jpg);
}

.rumah3 {
  background-image: url(../images/uploadImageReturn.jpg);
}

.deskripsi {
  position: sticky;
  width: 401px;
  height: 163px;
  background: linear-gradient(
    179.57deg,
    #ffffff 0.37%,
    rgba(255, 255, 255, 0.7) 0.37%,
    rgba(255, 255, 255, 0.533943) 98.74%,
    rgba(255, 255, 255, 0.533358) 98.75%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.deskripsi h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.deskripsi p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

.deskripsi1,
.deskripsi2,
.deskripsi3 {
  position: sticky;

  /* new rule */
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 25%;
  background: linear-gradient(
    179.57deg,
    #ffffff 0.37%,
    rgba(255, 255, 255, 0.7) 0.37%,
    rgba(255, 255, 255, 0.533943) 98.74%,
    rgba(255, 255, 255, 0.533358) 98.75%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  margin-bottom: 10px;
}

.section1 .deskripsi1 {
  top: 10%;
}

.section2 .deskripsi2 {
  top: 20%;
}

.section3 .deskripsi3 {
  top: 30%;
}

.fasilitas figure h2 {
  position: relative;
  width: 262px;
  height: 200px;

  /* text-align: center; */
  left: 45%;
  top: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.fasilitas figure {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  left: 20px;
}

#fasilitas-slider-1 .fasilitas-slide-container {
  width: auto;
  height: auto;
}

.fasilitas-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.fasilitas-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}

.fasilitas-slides {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #a0a0a0;
}

.fasilitas-slides img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.fasilitas-slide-text {
  color: #ffffff;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 50%;
  text-align: center;
  text-shadow: 0 0 2px #000;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  transform: translate(-50%, -5px);
}

#fasilitas-slide-prev,
#fasilitas-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px #686868;
}

#fasilitas-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#fasilitas-slide-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
#fasilitas-slide-prev:hover,
#fasilitas-slide-next:hover {
  background-color: #000c;
}

.fasilitas-slide-dot-control {
  margin-top: 10px;
  text-align: center;
}

.fasilitas-slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.fasilitas-slide-dot.dot-active {
  background-color: #717171;
}

.fasilitas-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.bi-arrow-left-circle,
.bi-arrow-right-circle {
  color: #fff;
}

.galeri {
  background-color: #f0f0f0;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.galeri h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.lokasi {
  background-color: #fff;
  width: 100%;
  /* height: 720px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.lokasi figure.khusus-lokasi {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lokasi figure.khusus-lokasi .image {
  display: flex;
  justify-content: center;
}

.lokasi figure.khusus-lokasi .image img {
  width: 30%;
  position: relative;
}

.lokasi h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.lokasi p {
  position: relative;
  width: 100%;
  left: 2em;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;

  letter-spacing: 0.01em;
  color: #000000;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.timeandmaps {
  display: flex;
  position: relative;
  right: 0;
}

.time {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 400px;
}

.time-items .wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
}

.circlehistory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  background-color: #e4c0b4;
  margin-right: 20px;
}

.bi-clock-history {
  width: 40px;
  height: 40px;
  background: url(../images/clock-history.svg) no-repeat center / contain;
}

.time-title {
  font-size: 30px;
  font-family: "DM Sans";
}

.time-description {
  font-size: 21px;
  font-family: "DM Sans";
  color: rgba(0, 0, 0, 1);
}

.maps {
  float: right;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  max-height: 500px;
  max-width: 1000px;
}

.pricelist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.persegi {
  position: relative;
  width: 100vw;
  height: 300px;
  left: 0px;
  background: rgba(9, 8, 8, 0.7);
}

.persegi img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: url(../images/perumahan-martinez.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.persegi figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.persegi h1 {
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.wa-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 60px;
  background-color: #e4c0b4;
}

.wa-chat p {
  margin: 0;
  text-align: center;
  color: white;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}

.wa-chat:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../images/whatsapp.svg) no-repeat center center / contain;
}

#footer {
  background-color: #f5f5f5;
  font-family: "DM Sans";
  padding: 20px 50px;
}

#footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

#footer .logo {
  flex: 1;
}

#footer .menu {
  flex: 1;
}

#footer .marketing {
  flex: 1;
}

#footer .contact {
  flex: 1;
}

#footer .menu .marketing .contact {
  align-self: auto;
}

#footer a {
  color: #333;
  text-decoration: none;
}

#footer h2.title {
  margin-top: 0;
}

#footer nav ul {
  padding-left: 0;
  color: #e4c0b4;
}

#footer nav li {
  margin-bottom: 10px;
}

#footer p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  #footer .footer-container {
    flex-direction: column;
  }

  #footer .logo,
  #footer .menu,
  #footer .marketing,
  #footer .contact {
    flex: 1 1 100%;
  }
}
