* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  background-color: #ffffff;
}

header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  clear: both;
  background-color: #ffffff;
}

#header nav a {
  font-size: 1rem;
  text-decoration: none;
  padding-left: 20px;
}

#header nav ul {
  padding: 0 20px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header nav ul li {
  display: inline;
  margin-right: 25px;
  list-style: none;
}

nav a #logo {
  font-weight: 700;
  position: absolute;
  width: 249px;
  height: 46px;
  left: 63.2px;
  top: 39px;
}

.house-property {
  position: absolute;
  width: 537px;
  height: 234px;
  left: 66px;
  top: 172px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}

.desc-property {
  color: white;
  margin: 20px;
  position: absolute;
  left: 50px;
  top: 420px;
}

.tentang-kami figure img {
  position: relative;
  left: 35%;
  top: 30px;
}

.tentang-kami figure figcaption h2 {
  position: relative;
  width: 262px;
  height: 200px;

  /* text-align: center; */
  left: 45%;
  top: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.tentang-kami figure figcaption {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  left: 20px;
}

#fasilitas {
  background-color: #f0f0f0;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#fasilitas section {
  margin: 20px;
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rumah1,
.rumah2,
.rumah3 {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 0 10px;

  /* new rules */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rumah1 {
  background-image: url(../images/cluster-new_201119141110-133.jpg);
}

.rumah2 {
  background-image: url(../images/53-desain-rumah-minimalis-modern-2.jpg);
}

.rumah3 {
  background-image: url(../images/uploadImageReturn.jpg);
}

.deskripsi {
  position: sticky;
  width: 401px;
  height: 163px;
  background: linear-gradient(
    179.57deg,
    #ffffff 0.37%,
    rgba(255, 255, 255, 0.7) 0.37%,
    rgba(255, 255, 255, 0.533943) 98.74%,
    rgba(255, 255, 255, 0.533358) 98.75%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.deskripsi h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.deskripsi p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

.deskripsi1,
.deskripsi2,
.deskripsi3 {
  position: sticky;

  /* new rule */
  align-self: center;

  width: 401px;
  height: 163px;
  background: linear-gradient(
    179.57deg,
    #ffffff 0.37%,
    rgba(255, 255, 255, 0.7) 0.37%,
    rgba(255, 255, 255, 0.533943) 98.74%,
    rgba(255, 255, 255, 0.533358) 98.75%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.section1 .deskripsi1 {
  top: 10%;
}

.section2 .deskripsi2 {
  top: 20%;
}

.section3 .deskripsi3 {
  top: 30%;
}

.fasilitas figure h2 {
  position: relative;
  width: 262px;
  height: 200px;

  /* text-align: center; */
  left: 45%;
  top: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.fasilitas figure {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  left: 20px;
}

#fasilitas-slider-1 .fasilitas-slide-container {
  width: auto;
  height: auto;
}

.fasilitas-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.fasilitas-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}

.fasilitas-slides {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #a0a0a0;
}

.fasilitas-slides img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.fasilitas-slide-text {
  color: #ffffff;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 50%;
  text-align: center;
  text-shadow: 0 0 2px #000;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  transform: translate(-50%, -5px);
}

#fasilitas-slide-prev,
#fasilitas-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px #686868;
}

#fasilitas-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#fasilitas-slide-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
#fasilitas-slide-prev:hover,
#fasilitas-slide-next:hover {
  background-color: #000c;
}

.fasilitas-slide-dot-control {
  margin-top: 10px;
  text-align: center;
}

.fasilitas-slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.fasilitas-slide-dot.dot-active {
  background-color: #717171;
}

.fasilitas-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.bi-arrow-left-circle,
.bi-arrow-right-circle {
  color: #fff;
}

.galeri {
  background-color: #f0f0f0;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.galeri h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}

.lokasi {
  background-color: #fff;
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.lokasi h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}
